@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #000;
  font-family: "Roboto", sans-serif;
}

/* heading start */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.heading-title {
  position: relative;
}
.heading-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
  color: #000;
}

.heading-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* heading end */

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.ibb.co/QPMpXRY/banner-black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.para-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.ibb.co/QPMpXRY/banner-black.jpg);
}

.para-3 {
  height: 180vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.ibb.co/QPMpXRY/banner-black.jpg);
}

/* skills */
.social-img {
  /* background: linear-gradient(270deg, #df8908 10%, #b415ff 100%); */
  border: 2px solid rgb(173, 167, 179);
}
/* .social-icon {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
} */

/* my project */
.project-btn {
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.live-btn {
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.6%);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* about */
.about-resume {
  padding: 20px 40px;
  border-radius: 50px;
  border: 2px solid #000;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.about-resume:hover {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.6%);
  color: white;
  border: 2px solid transparent;
}
