/* parallex */

.parallax-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.ibb.co/QPMpXRY/banner-black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.port-name {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 30px;
}

.hero-action {
  display: flex;
  gap: 25px;
  font-style: 24px;
  font-weight: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.hero-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.6%);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.hero-resume {
  padding: 20px 40px;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.hero-resume:hover {
  background: white;
  color: #000;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .port-name {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 0px;
  }
  .hero-connect {
    padding: 10px 15px;
    font-size: 12px;
  }

  .hero-resume {
    padding: 10px 15px;
    font-size: 12px;
  }
}
